html {
  font-size: 16px;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  background-image: linear-gradient(to bottom right, #f06292, #64ffda);
}

.container {
  width: 80%;
}

a, a:hover {
  text-decoration: none;
  color: #64ffda;
}

nav {
  position: fixed;
  display: block;
  width: 60px;
  height: 100vh;
  background-color: #333;
  text-align: center;
}

nav .brand {
  font-size: 3rem;
  font-weight: 600;
  display: block;
  background-color: #171717;
}

nav .menu {
  display: block;
  margin-top: 5rem;
}

nav .menu a {
  display: block;
}

nav .menu a, nav .social a {
  color: #999;
  -webkit-transition: color 320ms ease-in;
  -moz-transition: color 320ms ease-in;
  -ms-transition: color 320ms ease-in;
  -o-transition: color 320ms ease-in;
  transition: color 320ms ease-in;
}

nav .menu a:hover, nav .menu a.active, nav .social a:hover {
  color: #64ffda;
}

nav .social {
  margin-top: 3rem;
}

nav .social a {
  display: inline-block;
  margin-bottom: 5px;
}

section {
  min-height: 100vh;
}

section:nth-child(odd) {
  background-color: #373737;
}

section:nth-child(even) {
  background-color: #444;
}

.container h2 {
    margin-top: 6rem;
    font-weight: 800;
    font-size: 2.5rem;
}

.welcome {
  font-size: 3rem;
  font-weight: 800;
  color: #fff;
  margin-top: 6rem;
}

.pink {
  color: #f06292
}

.blue {
  color: #64ffda;
}

#home button {
  margin-top: 3rem;
  width: 150px;
  font-size: 1.3rem;
  border: 1px solid #64ffda;
  border-radius: 5px;
  color: #64ffda;
  background-color: #444;
  -webkit-transition: background 320ms ease-in;
  -moz-transition: background 320ms ease-in;
  -ms-transition: background 320ms ease-in;
  -o-transition: background 320ms ease-in;
  transition: background 320ms ease-in;
}

#home button:hover {
  background-color: #64ffda;
  color: #444;
}

.text-container {
  width: 50%;
  text-align: justify;
}

#about .text-container {
  float: right;
}

.text-container p {
  font-size: 1.2rem;
  letter-spacing: 1px;
}

#works h2 {
  margin-bottom: 2rem;
}
.img-thumbnail {
  width: 300px;
  height: 200px;
  background-color: #fff;
  padding: 2px;
  border-radius: 2px;
}

.form-container {
  width: 50%;
  text-align: center;
  margin: 0 auto;
  margin-top: -1rem;
}

form {
  margin-top: 3rem;
}

.form-container input, .form-container textarea, .form-container button {
  margin: 0 auto;
  display: block;
}

input, textarea {
  width: 70%;
  border: none;
  border-radius: 5px;
  padding: .7rem;
  background-color: rgba(0,0,0,0.3);
  color: #fff;
}

textarea {
  height: 120px;
  resize: none;
}

form button {
  margin-top: 3rem;
  width: 150px;
  height: 2rem;
  font-size: 1rem;
  border: 1px solid #f06292;
  border-radius: 5px;
  color: #f06292;
  background-color: #444;
  -webkit-transition: background 320ms ease-in;
  -moz-transition: background 320ms ease-in;
  -ms-transition: background 320ms ease-in;
  -o-transition: background 320ms ease-in;
  transition: background 320ms ease-in;
}

form button:hover {
  background-color: #f06292;
  color: #444;
}

/* Waves */

.flex { /*Flexbox for containers*/
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.waves {
  position:relative;
  width: 100%;
  height:15vh;
  margin-bottom:-7px; /*Fix for safari gap*/
  min-height:100px;
  max-height:150px;
}

.content {
  position:relative;
  height:20vh;
  text-align:center;
  background-color: white;
}

/* Animation */

.parallax > use {
  animation: move-forever 25s cubic-bezier(.55,.5,.45,.5)     infinite;
}
.parallax > use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
}
.parallax > use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
}
.parallax > use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
}
.parallax > use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
}
@keyframes move-forever {
  0% {
   transform: translate3d(-90px,0,0);
  }
  100% { 
    transform: translate3d(85px,0,0);
  }
}
/*Shrinking for mobile*/
@media (max-width: 768px) {
  .waves {
    height:40px;
    min-height:40px;
  }
  .content {
    height:30vh;
  }
  h1 {
    font-size:24px;
  }
}
