@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:ital,wght@0,400;0,700;1,400;1,700&family=Finlandica:ital,wght@0,400..700;1,400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible+Mono:ital,wght@0,200..800;1,200..800&family=Atkinson+Hyperlegible+Next:ital,wght@0,200..800;1,200..800&display=swap');

@font-face {
    font-family: 'NerdFontsSymbols Nerd Font';
    src: url("www.nerdfonts.com/assets/fonts/Symbols-2048-em Nerd Font Complete v233.woff2") format("woff2") !important;
    font-weight: normal;
    font-style: normal;
}

html {
    color: #fff;
    font-family: "Atkinson Hyperlegible";
    scroll-behavior: smooth;
    background-color: #0086FF;
    width: 100vw;
    height: 100vh;
    background:
        linear-gradient(0deg, rgba(0, 136, 255, 1) 0%, rgba(0, 134, 255, 1) 100%),
        linear-gradient(0deg, rgba(251, 74, 82, 1) 0%, rgba(251, 74, 82, 1) 100%),
        linear-gradient(0deg, rgba(255, 255, 255, 0.20) 0%, rgba(255, 255, 255, 0.20) 100%),
        linear-gradient(0deg, rgba(25, 25, 25, 0.40) 0%, rgba(25, 25, 25, 0.40) 100%),
        url(./jump.png),
        radial-gradient(119.04% 90.75% at 93.18% 5.93%, #FFFFFF70 0%, #FFFFFF70 100%),
        radial-gradient(235.62% 229.18% at -53.01% -72.73%, #4184D0 0%, #214167 100%);
    /* you know this isnt ai generated because no ai would be insane enough to shove this many layers into a bg */
    background-blend-mode: hue, saturation, overlay, overlay, soft-light, overlay, normal;
}



body {
    display: flex;
    align-items: flex-start;
    /* background: linear-gradient(0deg, color(display-p3 0 0.5167 1) 0%, color(display-p3 0 0.5167 1) 100%), linear-gradient(0deg, color(display-p3 0.9087 0.3451 0.3451) 0%, color(display-p3 0.9087 0.3451 0.3451) 100%), linear-gradient(0deg, color(display-p3 1 1 1 / 0.20) 0%, color(display-p3 1 1 1 / 0.20) 100%), linear-gradient(0deg, color(display-p3 0.0962 0.0962 0.0962 / 0.40) 0%, color(display-p3 0.0962 0.0962 0.0962 / 0.40) 100%), url(./jump.png) lightgray 50% / cover no-repeat, radial-gradient(119.04% 90.75% at 93.18% 5.93%, color(display-p3 1 1 1) 0%, color(display-p3 1 1 1 / 0.00) 100%), radial-gradient(235.62% 229.18% at -53.01% -72.73%, color(display-p3 0.3207 0.5101 0.7942) 0%, color(display-p3 0.1592 0.2532 0.3942) 100%); */
    height: 100vh;
}

.sidebar {
    display: flex;
    padding: 15px 30px;
    background: color(display-p3 0 0 0 / 0.00);
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
    align-self: stretch;
    backdrop-filter: blur(0px);
}

.main-content {
    display: flex;
    padding: 80px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
    flex: 1 0 0;
    align-self: stretch;
}

.logo {
    display: flex;
    padding: 10px 15px;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.title {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    color: color(display-p3 1 1 1);
    font-family: "Atkinson Hyperlegible";
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.nav-item {
    display: flex;
    padding: 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: color(display-p3 1 1 1 / 0.25);
    font-family: "Atkinson Hyperlegible";
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
    transition: all 0.3s;

    .icon {
        display: none;
        opacity: 0;
    }

    &:hover {
        padding: 10px 20px;
        color: color(display-p3 1 1 1 / 1);
    }

    &:active {
        font-weight: 700;
    }
}

.nav-item.selected {
    display: flex;
    padding: 10px 20px;
    border-radius: 20px;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
    backdrop-filter: blur(5px);
    color: color(display-p3 1 1 1);
    font-family: "Atkinson Hyperlegible";
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

    .icon {
        display: block;
        opacity: 1;
    }
}




.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.footer-container {
    display: flex;
    width: 300px;
    height: 45px;
    overflow: hidden;
    padding: 10px 0 10px 20px;
    border-radius: 20px;
    background: url(<path-to-image>) lightgray 50% / cover no-repeat;
    align-items: center;
    gap: 10px;
}

p {
    color: #FFF;
    color: color(display-p3 1 1 1);
    font-family: "Atkinson Hyperlegible";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}